body{
  font-family: sans-serif;
  font-weight: 100;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 30em) {
  body{
    width: 60%;
  }
}
@media (min-width: 50em) {
  body{
    width: 50%;
  }
}
@media (min-width: 75em) {
  body{
    width: 40%;
  }
}
#title{
  text-decoration: none;
}
h1{
 font-family: sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}
a:hover{
  color: gray;
}
a:active{
  color: gray;
}
.left-line{
  border-left: thick solid hsl(50, 100%, 50%);
  padding: .2em;
}
#nav-link{
  text-decoration: none;
  font-weight: bold;
}
#nav-link:hover{
  color: white;
  background-color: hsl(50, 100%, 50%);
  border-left-color: white;
}
.center{
  text-align: center;
}
.iframe-box{
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.iframe-box iframe{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
img{
  width: 100%;
  margin: auto;
  border-radius: .5em;
}
hr{
  border: none;
  height: .5em;
}
.yellow-card{
  box-sizing: border-box;
  padding: .2em;
  color: white;
  width: 100%;
  background-color: hsl(50, 100%, 50%);
  border-radius: .2em;
}
.flex-row{
  display: flex;
  flex-direction: row;
}
.flex-around{
  justify-content: space-between;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.space{
  padding-bottom: 1em;
}
footer{
  border-top: thin solid hsl(50, 100%, 50%);
  border-bottom: thin solid hsl(50, 100%, 50%);
  padding: .2em;
}
