body{
  font-family: sans-serif;
  font-weight: 100;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
a{
  text-decoration: none;
  color: inherit;
}
img{
  height: 6em;
  width: auto;
  max-width: 480px;
  max-height: 480px;
}
header{

}
.yellow-card{
  color: white;
  padding: .2em;
  width: 100%;
  background-color: hsl(50, 100%, 50%);
  border-radius: .2em;
}
.flex-row{
  display: flex;
  flex-direction: row;
}
.flex-around{
  justify-content: space-between;
}
main{
  width: 90%;
}
.space{
  padding-bottom: 1em;
}
